body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-div{
  padding-top: 10px;
  
 
}
.award-winning{
   
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 50px;
}
.digitalMarketing{
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 50px;
}
.content-para{
    line-height: 30px;
    
}
img{
   border-radius: 5px;
   box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.074);
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animated-image {
    animation: fadeIn 2s ease-in-out;
  }

  /* model */

  .modal-content {
    border-radius: 8px;
    padding: 30px;
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-title {
    font-size: 24px;
    font-weight: bold;
  }
  .form-group label {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  .form-control {
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
  .form-control::placeholder {
    color: #888;
  }
  .form-check-label {
    font-size: 14px;
    color: #888;
  }
  .btn-danger {
    background-color: #ff3366;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-danger:hover {
    background-color: #e62955;
  }
  
 
  
